.footer{
  background:#000;
  color:white;
  padding:60px 10%;
}

.footer-content{
  display:flex;
  justify-content:space-between;
  gap:40px;
  flex-wrap:wrap;
}

.footer h2,
.footer h3{
  color:#D4AF37;
  margin-bottom:20px;
}

.footer a{
  display:block;
  color:white;
  text-decoration:none;
  margin-bottom:10px;
}

.footer a:hover{
  color:#D4AF37;
}

.footer hr{
  margin:40px 0 20px;
  border:0;
  border-top:1px solid #333;
}

.copyright{
  text-align:center;
}